@import url('https://fonts.googleapis.com/css?family=Raleway:300,500|Teko:300,400');

$grey: #e3e3e3;
$red: #7d1316;
$white: #ffffff;
$black: #000000;
$bopaque: rgba(0, 0, 0, 0.72);
$ropaque: rgba(90, 6, 21, 0.82);
$lightgrey: #838484;
$bg: #bbc1ca;

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  background-color: $bg;
}

.row {
  margin: 0;
}

.bioo {
  background: url(../images/background.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  margin-bottom: 0;
  overflow: hidden;
  background-color:$bg;
}

h1 {
    font-size:3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $white;
}



h2, p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

//close button

.modal-header {
  padding:0;
  .close {
    margin-right: 20px;
    margin-top: 0;
  }
}

.close {
  font-size: 50px;
}

// end of close btn

.nav > li > a {
  padding: 15px 20px;
}

.navbar {
  text-transform: uppercase;
  margin: 0;
  .navbar-brand {
    display: none;
  }
}

.navbar-default {
  background-color: $white;
  .navbar-toggle {
    border-color: transparent;
    &:focus {
      background-color: transparent;
    }
    &:hover{
      background-color: transparent;
    }
    .icon-bar {
      background-color: $white;
    }
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0 90px;
    > .active > a {
      color: $red !important;
      background-color: transparent !important;
    }
    > li {
      float: none;
      display: inline-block;
      margin-left:-10px;
      > a {
        font-size: 23px;
        font-weight: 400;
      }
    }
  }
}

.navbar-nav li.social {
  position: relative;
  left: -60px;
  ul {
    display: inline-block;
    .twitter a {
      background-position: -117px 0px;
      &:hover {
        background-position: -117px -53px;
      }
    }
    .facebook a {
      background-position: -3px -54px;
      &:hover {
        background-position: -57px -54px;
      }
    }
    .instagram a {
      background-position: 0px 0;
      &:hover {
        background-position: -55px 0px;
      }
    }
    li {
      float: left;
      margin-left: -15px;
      text-indent: -9999px;
      list-style: none;
      a {
        display: block;
        width: 53px;
        height: 43px;
        background: url(../images/social.png) no-repeat 0 0;
      }
    }
  }
}
.jumbotron {
  p {
    max-width: 800px;
    margin: 0 auto;
    letter-spacing: 1px;
    font-weight: 300;
  }
}


.finderbg {
  height: 100%;
  background-image: url(../images/finder_bg.jpg);
  background-position: center center;
  background-size: contain; 
  background-repeat: repeat;
}

.us-bg {
  height: 100%;
  background-image: url(../images/US.png);
  background-position: top center;
  background-size: contain; 
  background-repeat: no-repeat
}

.navbar-collapse.in {
  position: absolute;
  background-color: white;
  overflow: overlay;
  z-index: 999;
  width: 100%;
}

.full-screen {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.carousel .item {
    -webkit-transition: opacity 3s; 
    -moz-transition: opacity 3s; 
    -ms-transition: opacity 3s; 
    -o-transition: opacity 3s; 
    transition: opacity 3s;
}
.carousel .active.left {
    left:0;opacity:0;z-index:2;
}
.carousel .next {
    left:0;opacity:1;z-index:1;
}

.carousel {
  background: url(../images/background.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  margin-bottom: 0;
  overflow: hidden;
}

.carousel-indicators {
  display: none !important;
}

.carousel-inner > .item > img {
    height: 100vh;
    max-width: 900px;
    overflow:hidden;
    margin: 0;
}

.carousel .item {
  background-color: transparent;
}

.container-fluid .jumbotron {
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.jumbotron p {
  font-size: 14px;
}

.home .jumbotron p {
  padding: 0 102px;
}

.logo {
  max-width: 30%;
  width: 400px;
  min-width: 250px;
}

.logo-bio {
  position: absolute;
  top: 70px;
  width: 25%;
  right: 50px;
}

.info {
  position: absolute;
  bottom: 0;
  z-index: 9;
  padding: 0;
  text-align: center;
  width:100%;
  .promo {
    background-color: $bopaque;
    margin: 10px 0;
    padding: 5px;
    button {
      background-color: transparent;
      border-color: transparent;
      color: $lightgrey;
      font-size:3em;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      position: relative;
      top:4px;
      img {
        margin-top: -6px;
      }
    }
  }

  .btn-primary {
    background: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
    &:hover {
      background: transparent;
      background-color: transparent;
      // border-color: transparent;
    }
    &:active {
      background: transparent;
      background-color: transparent;
      border-color: transparent;
    }
    &:focus {
      background: transparent;
      background-color: transparent;
      border-color: transparent;
    }
    &:visited {
      background: transparent;
      background-color: transparent;
      border-color: transparent;
    }
  }

  button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover{
      outline:transparent !important;
  }



  .myBackground {
    background-color: $ropaque;
    color: #ffffff;
    padding: 30px 0;
    h2 {
      text-transform: uppercase;
      word-spacing: 5px;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }
  }
}


// BIO PAGE

.info.bio .myBackground {
  margin-top: 10px;
}

.scrolls {
  height: 170px;
  width: 60%;
  margin: 0 auto;
  padding: 1%;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

#scroller::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $grey;
}

#scroller::-webkit-scrollbar
{
  width: 10px;
  background-color: $grey;
}

#scroller::-webkit-scrollbar-thumb
{
  background-color: $white;
  border: 2px solid $white;
}

// footer

.footer {
  background-color: #e3e3e3;
  padding: 10px !important;
  color: $lightgrey;
  font-size: 8px;
  letter-spacing: 0px !important;
}



.biobg {
  height: 100%;
  background-image: url(../images/bio.png);
  background-position: center center;
  background-size: contain; 
  background-repeat: no-repeat;
}



// STATIONS
.station-finder {
  .station-container {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 220px;
  h1 {
    text-transform: uppercase;
  }
  h1, h2 {
    color: $white;
    text-align: center;
  }
  .finder-container {
    min-height: 220px;
  }
  .selector {
    background: $white;
    width: 300px;
    height: 43px;
    margin: 0 auto;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $grey;
      & > .arrows {
        // background: url(../img/sf-arrows.gif) no-repeat 0 0;
        display: inline-block;
        width: 14px;
        height: 14px;
        float: right;
        margin-top: 14px;
        margin-right: 20px;
      }
      .title {
        text-transform: uppercase;
        color: $red;
        background-color: #e2e2e2;
        text-align: center;
        display: block;
        line-height: 43px;
        img {
          position: relative;
          top: -2px;
          left: 5px;
        }
      }
    }
    .state-list {
      display: none;
      width:100%;
    }
    .list-container {
      overflow: hidden;
      width:100%;
      height: 150px;
      ul {
        margin: 0; 
        list-style-type: none; 
        // padding:0 15px; 
        position:relative;
      }
      ul li a {
        border: 1px solid $grey;
        border-radius: 5px;
        padding: 9px;
        text-align: center;
        margin: 5px 0;
        color: $grey;
        display:block; 
        text-decoration: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        &:hover{ 
          text-decoration: none; 
          background:url("../images/select_arrow.gif") no-repeat left center;
          padding-left: 20px;
          background-position: 90px;
          color: $white;
        }
      }
    }
  }
}
}



.listing-provider {
  border: 3px solid $grey;
  border-radius: 5px;
  background: $red;
  text-align: center;
  font-size: 16px;
  .big-bar {
    background: $white;
    overflow: hidden;
    width: 100%;
    text-align: center;
    
    margin: 0 auto;
    .headings {
      color: $red;
    }
  }
  .listings .city{
      color: $white;
  }
  .listings .station a{
      color: $grey;
  }
  .listings .times{
      color: $white;
  }
}

@media (min-width:1700px) {
  .logo {
    width:20%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .jumbotron.myBackground  p {
    font-size: 20px;
    padding: 0;
  }
  .logo-bio {
    display: none;
  }

  .full-screen {
    background-size: cover;
  }

  .bio .logo {
    display: block;
    margin: 0 auto;
  }
  .bio .myBackground {
    margin-top: 20px;
  }
  .station-finder h2.sub {
    padding: 10px 80px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
   .logo-bio {
    display: none;
  }
  .us-bg {
    background-size: 160%;
    background-position: center center;
  }
  .station-finder h2.sub {
    padding: 10px 150px;
  }
}

@media (min-width: 768px){
  .modal-dialog {
    width: 80%;
    margin: 30px auto;
  }
}


@media (max-width: 1200px) and (min-width: 768px) {
  .carousel {
      background-color: $bg;
  }
  .logo {
    max-width: 50%;
    width: 430px;
  }
  .navbar-default .navbar-nav {
    margin: 0 60px;
  }
  .biobg {
    background-size: cover;
  }
  .bio .myBackground {
    margin-top: 20px;
  }
  .scrolls {
    width: 80%;
  }
  .us-bg {
    background-size: 160%;
    background-position: center center;
  }
  .myBackground.jumbotron p {
    padding: 0 3%;
  }
}


@media (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
  .station-finder h2.sub {
    font-size: 1em !important;
    padding: 10px 50px;
  }

  .home .jumbotron p {
    padding: 0 10px;
  }
  .us-bg {
    background-size: 160%;
    background-position: center center;
  }
  .logo {
    max-width: 40%;
  }
  .navbar {
    z-index: 999;
  }
  .navbar .navbar-brand {
    display: block;
    padding: 5px 15px;
  }
  .navbar-header {
    background: $red;
  }
  .navbar-default .navbar-nav {
    margin: 0;
  }
  .navbar-default .navbar-nav > li {
    display: block;
    float: none !important;
    margin-left: 0;
  }
  .navbar-nav li.social {
    left: 10px;
  }
  // .info .logo {
  //   display: none;
  // }
  .full-screen {
    background-size: cover;
  }
  .container-fluid .jumbotron {
    padding: 5px;
  }
  .jumbotron .myBackground br { 
    content: ' '; 
  }
  .biobg {
    background-size: cover;
  }
  .logo-bio {
    display: none;
  }
  .info .myBackground h2 {
    margin-bottom: 0;
    font-size: 17px;
  }
  .info .myBackground p {
    padding: 0px 20px;
  }
  .myBackground p {
    font-size: 11px;
  }
 .footer p {
    padding: 10px;
    font-size: 6px;
   }

   .scrolls {
    width: 100%;
    height: 330px;
    padding: 5%;
   }
   .info .promo {
    margin-top: 0;
   }
}

@media (max-width: 414px) {
  .carousel {
    height: 95%;
  }
  .logo {
    min-width: 130px;
    padding:10px 0;
    // margin-bottom: 5px;
  }
  .info {
    background-color: $bopaque;
    .promo {
      background-color: transparent;
      padding: 0;
    }
    .promo button {
      font-size: 1.3em;
      img {
        margin-top: -2px;
        width: 16%;
      }
    }
  }
  .scrolls {
    height: 180px;
  }
  .footer p {
    padding:0;
  }
}

@media (max-width: 320px) {
  
  h2 {
    font-size: 18px;
  }
  .info {
    .promo button  {     
    font-size: 1.3em;
      img {
        margin-top: -2px;
        width: 14%;
      }
    }
    .myBackground {
      h2 {
        font-size: 14px;
        padding-top: 5px;
      }
       p {
        font-size: 10px;
        letter-spacing: 0;
        padding: 0 5px
      }
    }
  } 
  .carousel {
    height: 90%;
  }
  .scrolls {
    height: 100px;
    padding: 0% 5%;
  }
  br {
    display: none;
  }

  .station-finder .station-container {
    padding-top: 120px;
  }

  .station-finder h2.sub {
    padding: 10px 40px;
  }
  
}

/**station finder Styles*/
.station-finder .banner-extender {background-image:url("../img/pat-full-other.jpg");}
.station-finder #primary-logo {background: url("../img/pat-full-other.jpg") no-repeat center 30px; min-height: 190px; padding:0;}
.station-finder .wrapper
{
    background: #fff url("../img/station-bg.jpg") no-repeat center center;
  background-color: #3e5c9b\9; /* IE 8 Fix */
    background-size: cover;
}
.station-finder h1.title {margin-bottom:0px;}
.station-finder h2.sub
{
    margin-top:10px;
    font-size:30px;
    word-spacing: 5px;
    letter-spacing: 1px;
    font-weight:300; 
    text-align: center;
    // margin-bottom:20px;
}

.station-finder .selector
{
    background: url("../img/select-bg.png") no-repeat 0 0;
    width: 255px;
    height: 43px;
    margin: 0 auto;
}

