@import url('https://fonts.googleapis.com/css?family=Raleway:500|Teko:300,400');

$grey: #e3e3e3;
$red: #7d1316;
$white: #ffffff;
$black: #000000;
$bopaque: rgba(0, 0, 0, 0.38);
$ropaque: rgba(107, 11, 31, 0.49);
$lightgrey: #838484;
$bg: #f7f9fb;

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  background: $bg;
}

h2, p {
  font-weight: 300;
  margin: 0;
  padding: 0;
}


*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav > li > a {
  padding: 15px 20px;
}

.navbar {
  text-transform: uppercase;
  margin: 0;
  .navbar-brand {
    display: none;
  }
}

.navbar-default {
  .navbar-toggle {
    border-color: transparent;
    &:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
    }
    .icon-bar {
      background-color: $black;
    }
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0 40px;
    > .active > a {
      color: $red !important;
      background-color: transparent !important;
    }
    > li {
      float: none;
      display: inline-block;
      > a {
        font-size: 22px;
        font-weight: 400;
      }
    }
  }
}



.navbar-nav li.social {
  ul {
    display: inline-block;
    .twitter a {
      background-position: -117px 0px;
      &:hover {
        background-position: -117px -53px;
      }
    }
    .facebook a {
      background-position: -3px -54px;
      &:hover {
        background-position: -57px -54px;
      }
    }
    .instagram a {
      background-position: 0px 0;
      &:hover {
        background-position: -55px 0px;
      }
    }
    li {
      float: left;
      margin-left: 2px;
      text-indent: -9999px;
      list-style: none;
      a {
        display: block;
        width: 53px;
        height: 43px;
        background: url(../images/social.png) no-repeat 0 0;
      }
    }
  }
}


.carousel {
  background: url(../images/background.png) no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
  margin-bottom: 0;
  overflow: hidden;
}

.carousel-indicators {
  display: none !important;
}

.carousel-inner > .item > img {
    height: 100vh;
    max-width: 900px;
    overflow:hidden;
    margin: 0;
}

.carousel .item {
  background-color: transparent;
}

.container-fluid .jumbotron {
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.logo {
  max-width: 30%;
  width: 350px;
  min-width: 284px;
}

.logo-bio {
  position: absolute;
  top: 70px;
  right: 100px;
}

.info {
  position: absolute;
  bottom: 0;
  z-index: 9;
  padding: 0;
  text-align: center;
  width:100%;
  .promo {
    background-color: $bopaque;
    margin: 10px 0;
    padding: 5px;
    a {
      color: $lightgrey;
      font-size:3em;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      img {
        margin-top: -6px;
      }
    }
  }
  .myBackground {
    background-color: $ropaque;
    color: #ffffff;
    padding: 30px 0;
    h2 {
      text-transform: uppercase;
      word-spacing: 5px;
      letter-spacing: 1px;
    }
  }
}

.scrolls {
  height: 177px;
  width: 60%;
  margin: 0 auto;
  padding: 1%;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

#scroller::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $grey;
}

#scroller::-webkit-scrollbar
{
  width: 10px;
  background-color: $grey;
}

#scroller::-webkit-scrollbar-thumb
{
  background-color: $white;
  border: 2px solid $white;
}


.footer {
  background-color: #e3e3e3;
  p {
    font-size: 10px;
    padding: 5px 140px;
    color: $lightgrey;
  }
}

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  // max-height: 700px;
  // max-width:900px;
  // margin: 0 auto;
}

.carousel .item {
    -webkit-transition: opacity 3s; 
    -moz-transition: opacity 3s; 
    -ms-transition: opacity 3s; 
    -o-transition: opacity 3s; 
    transition: opacity 3s;
}
.carousel .active.left {
    left:0;opacity:0;z-index:2;
}
.carousel .next {
    left:0;opacity:1;z-index:1;
}

.biobg {
  height: 100%;
  background-image: url(../images/bio.png);
  background-position: center center;
  background-size: contain; 
  background-repeat: no-repeat;
}

.jumbotron {
  p {
    max-width: 800px;
    margin: 0 auto;
    letter-spacing: 1px;
    font-weight: 300;
  }
}


.finderbg {
  height: 100%;
  background-image: url(../images/finder.png);
  background-position: center center;
  background-size: contain; 
  background-repeat: repeat;
}

.navbar-collapse.in {
  position: absolute;
  background-color: white;
  overflow: overlay;
  z-index: 999;
  width: 100%;
}


// STATIONS
.station-container {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 200px;
  h1 {
    text-transform: uppercase;
  }
  h1, h2 {
    color: $white;
    text-align: center;
  }
  .finder-container {
    min-height: 220px;
  }
  .selector {
    background: $white;
    width: 255px;
    height: 43px;
    margin: 0 auto;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $grey;
      & > .arrows {
        // background: url(../img/sf-arrows.gif) no-repeat 0 0;
        display: inline-block;
        width: 14px;
        height: 14px;
        float: right;
        margin-top: 14px;
        margin-right: 20px;
      }
      .title {
        text-transform: uppercase;
        color: $red;
        text-align: center;
        display: block;
        line-height: 43px;
      }
    }
    .state-list {
      display: none;
      width:100%;
    }
    .list-container {
      overflow: hidden;
      width:100%;
      height: 150px;
      ul li a {
        border: 3px solid $grey;
        border-radius: 5px;
        padding: 9px;
        background: $red;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }
}

.listing-provider {
  border: 3px solid $grey;
  border-radius: 5px;
  background: $red;
  text-align: center;
  font-size: 16px;
  .big-bar {
    background: $white;
    overflow: hidden;
    width: 100%;
    text-align: center;
    
    margin: 0 auto;
    .headings {
      color: $red;
    }
  }
  .listings .city{
      color: $white;
  }
  .listings .station a{
      color: $grey;
  }
  .listings .times{
      color: $white;
  }
}

@media (max-width: 767px) {
  .navbar {
    z-index: 999;
  }
  .navbar .navbar-brand {
    display: block;
    padding: 5px 15px;
  }
  .navbar-header {
    background: $red;
  }
  .navbar-default .navbar-nav {
    margin: 0;
  }
  .navbar-default .navbar-nav > li {
    display: block;
    float: none !important;
  }
  // .info .logo {
  //   display: none;
  // }
  .full-screen {
    background-size: cover;
  }
  .container-fluid .jumbotron {
    padding: 0 20px;
  }
  .jumbotron .myBackground br { 
    content: ' '; 
  }
  .biobg {
    background-size: cover;
  }
  .logo-bio {
    display: none;
  }
  .footer p {
    padding: 20px;
    font-size: 8px;
   }

   .scrolls {
    width: 100%;
    height: 330px;
   }
}

@media (max-width: 320px) {
  h2 {
    font-size: 20px;
  }
  .info .promo a {
    font-size: 2em;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .carousel {
    height: 90%;
  }
 .footer p {
  padding: 20px;
  font-size: 8px;
 }
}
